@model IEnumerable<Client_Server.Models.DTO.ProductDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<style>
    .filter__page-btn {
        color: whitesmoke;
        font-size: 15px;
        margin-right: 2px;
        padding: 5px;
        background-color: #00c8bf;
    }
</style>


<p>
    <a href="@Url.Action("Create", "Admin")" class="btn btn-info btn-rounded btn-fw">Create new</a>
</p>
<div class="card">
    <div class="table-responsive pr-3">
        <table class="table table-striped project-orders-table table-hover ">
            <thead>
                <tr>
                    <th>
                        Tên Sản Phẩm
                    </th>
                    <th>
                        Giá hiện tại
                    </th>
                    <th>
                        Ảnh
                    </th>
                    <th>
                        Thương hiệu
                    </th>
                    <th>
                        Danh mục
                    </th>

                    <th>
                        Tình trạng
                    </th>
                    <th>
                        Hoạt động
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameProduct)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)$
                        </td>
                        <td>
                            <img src="~/Access/img/@item.img" alt="image" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameBrand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameCate)
                        </td>
                        <td>
                            @if (item.status == true)
                            {
                                @Html.DisplayName("Còn hàng")
                            }
                            else
                            {
                                @Html.DisplayName("Hết hàng")
                            }

                        </td>
                        <td>
                            <div class="filter__page-control">
                                <a href="@Url.Action("Edit", "Admin", new { id = item.idProduct})" class="btn btn-success btn-sm btn-icon-text mr-3">
                                    Edit
                                    <i class="typcn typcn-edit btn-icon-append"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Admin", new { id = item.idProduct})" class="btn btn-danger btn-sm btn-icon-text">
                                    Delete
                                    <i class="typcn typcn-delete-outline btn-icon-append"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
</div>