@model Client_Server.Models.entity.discout

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<style>
    .cc {
        display: inline-block;
        background-color: indigo;
        color: white;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-top: 1rem;
    }

    .border-form {
        border: solid 1px #7a7979cc;
    }

    .width-arena {
        width: 123%;
    }
</style>

<div class="content-wrapper">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-10 grid-margin stretch-card">
            <div class="card" style="width:600px;">
                <div class="card-body">
                    <h4 class="card-title">Điền thông tin danh mục của sản phẩm</h4>
                    <div class="form-group row">
                        <div class="col">
                            <label>Tên Chương trình</label>
                            <div id="the-basics">
                                @Html.EditorFor(model => model.NameDiscout, new { htmlAttributes = new { @class = "form-control border-form" } })
                                @Html.ValidationMessageFor(model => model.NameDiscout, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col">
                            <label>Giảm (%)</label>
                            <div id="the-basics">
                                @Html.EditorFor(model => model.percents, new { htmlAttributes = new { @class = "form-control border-form" } })
                                @Html.ValidationMessageFor(model => model.percents, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col">
                            <label>Ngày Bắt Đầu</label>
                            <div id="the-basics">
                                <input class="form-control text-box single-line border-form" id="StartDay" name="StartDay" type="date" value="@Model.StartDay.Value">
                                @Html.ValidationMessageFor(model => model.StartDay, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col">
                            <label>Ngày Kết Thuc</label>
                            <div id="the-basics">
                                <input class="form-control text-box single-line border-form" id="EndDay" name="EndDay" type="date" value="@Model.EndDay">

                                @Html.ValidationMessageFor(model => model.EndDay, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                </div>
            </div>
        </div>
    }
    <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary btn-rounded btn-fw">Back to list</a>
</div>